*Combination of all three files*

In [1]:
import numpy as np
import pandas as pd
import scanpy as sc

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# adata = sc.datasets.pbmc3k_processed()
# adata

adata = sc.read_h5ad("/Users/Ali/Desktop/Mehtonen et al./GSE148218_RAW/GSE148218_Scanpy_Milo_SEACells.h5ad")
adata

/Users/Ali/anaconda3/envs/MEDI7281/lib/python3.11/site-packages/anndata/_core/anndata.py:117: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 53007 × 22130
    obs: 'patient_id', 'sample_id', 'n_genes', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'leiden', 'SEACell', 'nhood_ixs_random', 'nhood_ixs_refined', 'nhood_kth_distance'
    var: 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'highly_variable', 'means', 'dispersions', 'dispersions_norm'
    uns: 'dendrogram_leiden', 'hvg', 'leiden', 'leiden_colors', 'log1p', 'neighbors', 'nhood_adata', 'pca', 'rank_genes_groups', 'umap'
    obsm: 'X_pca', 'X_umap', 'nhoods'
    obsp: 'connectivities', 'distances'

In [3]:
adata.uns["nhood_adata"]

AnnData object with n_obs × n_vars = 2751 × 11
    obs: 'index_cell', 'kth_distance'
    uns: 'sample_col'

In [35]:
# let's make an example based on leiden -> THIS IS EXAMPLE OF THE POSSIBLE COMPARISON 

adata1 = adata[adata.obs['leiden'] == '1']
adata2 = adata[adata.obs['leiden'] == '14']
adata1

x = np.array(np.mean(adata1.X.T, axis = 1))
y = np.array(np.mean(adata2.X.T, axis = 1))

flat_listx = [item for sublist in x.tolist() for item in sublist]
flat_listy = [item for sublist in y.tolist() for item in sublist]

In [36]:
import scipy
scipy.stats.pearsonr(flat_listx, flat_listy)

PearsonRResult(statistic=0.8670835973696844, pvalue=0.0)

In [37]:
pd.DataFrame(adata.obsm['nhoods'].toarray())

,0,1,2,3,4,5,6,7,8,9,...,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
53003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
adata.obs['nhood_kth_distance']

GSM4456251_ALL1_AAACCTGAGAGATGAG-1      0.0
GSM4456251_ALL1_AAACCTGAGCACACAG-1      0.0
GSM4456251_ALL1_AAACCTGAGGATGGAA-1      0.0
GSM4456251_ALL1_AAACCTGAGGGTGTGT-1      0.0
GSM4456251_ALL1_AAACCTGCACAACTGT-1      0.0
                                       ...
GSM4795826_REH_XR_TTTGATCAGGTAAAGG-1    0.0
GSM4795826_REH_XR_TTTGATCAGGTCCAGA-1    0.0
GSM4795826_REH_XR_TTTGATCGTCCGGATC-1    0.0
GSM4795826_REH_XR_TTTGGTTGTACGTACT-1    0.0
GSM4795826_REH_XR_TTTGTTGGTTAAACCC-1    0.0
Name: nhood_kth_distance, Length: 53007, dtype: float64

In [45]:
adata3 = adata[adata.obs['SEACell'] == 'SEACell-1']
adata4 = adata[adata.obs['leiden'] == '1']

x = np.array(np.mean(adata3.X.T, axis = 1))
y = np.array(np.mean(adata4.X.T, axis = 1))

flat_listx = [item for sublist in x.tolist() for item in sublist]
flat_listy = [item for sublist in y.tolist() for item in sublist]

In [46]:
scipy.stats.pearsonr(flat_listx, flat_listy)

PearsonRResult(statistic=0.8612162244466608, pvalue=0.0)

In [48]:
#26 clusters for SCANPY
#80 metacells for SEACells
#milo?????

In [47]:

nhood1 = adata[adata.obs subset based on nhoods]
seacell1 = adata[adata.obs subset based on seacell nhoods]
average(nhood1.X (22130, n)) 22130
seacell1.X (22130, m)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2754608566.py, line 1)